/* Styles go here */
/* Styles for header,footer, aside, section, table, etc */
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    background-color: #AEEAFF;
    clear: left;
    text-align: center;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #524caf;
    color: white;
}

.leg {
    background-color: #b6c5d8;
    margin: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

.refreshmsg {
    font-size:20px;
}
.welcome {
  margin-top: 20px;
  margin-bottom: 20px;
}

.train-results {
  transition: all linear 0.5s;
}

.train-results.ng-hide {
  opacity: 0;
}


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}


/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:5%;
    height:50px;                   /* text area height */
    width:250px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 72px;
    font-weight: bold;
    margin: 10px;
    overflow: visible;
    padding: 15px;
    text-align: center;
    letter-spacing: 2px;
    background-color: #0063b3;
    color: white;
    border-radius: 10px;
    font-family: Book Antiqua;
}


h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 10px;
    overflow: visible;
    padding: 10px;
    text-align: left;
    letter-spacing: 2px;
    background-color:#524caf;
    color: white;
    border-radius: 10px;
    font-family: Book Antiqua;
}

h3 {
    color: #524caf;
    font-family: Book Antiqua;
    font-size:24px;
}

.regularlines {
    font-size:24px;
}

.stationinfo{
    color:;#524caf;
    font-family: Book Antiqua;
    font-size: 24px;
    padding: 5px;
}

.welcomeText{
    margin-top:50%;
}

